<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Users Page</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/products">Products</a></li>
    </ul>
  </nav>

  <form action="/users" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br><br>
  
    <label for="email">Email:</label>
    <input type="email" id="email" name="email"><br><br>
  
    <input type="submit" value="Submit">
  </form>


</body>
</html>
