body{
    background: linear-gradient(120deg, black, gray);
    font-family: 'Arial', sans-serif;
    padding: 20px;
    
}
body::before{
    content: "";
    background-image: url('fam.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
   /* background-attachment: fixed;*/
   opacity: 0.05;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: -1;/* Ensure the background stays behind your content */

}

h1 {
    font-size: 50px; /* Increase the font size */
    /*color: #FF00FF; /* Set the text color to a neon pink */
    color: fuchsia;
}
h2{
    font-size: 25px;
    color: coral;
}
div{
    color: aliceblue;
    font-size: 18px;
}
q{
    font-style: italic;
    font-weight: bold;
    color: aquamarine;
}
span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: beige;
}


img{
    height: 50px;
    width: 100px;
}
.images{
    height: auto;
    width: 300px;
    border-radius: 15px;
}
#html-checker{
   margin-right: 15px;
    border-radius: 15px;
}


#moods img{
    padding-right:5px;
   
}


a:link{
    color:coral;
    text-decoration: none;
}

a:visited{
    color:greenyellow;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#about.p::first-letter{
    float: left;
    font-size: 250%;
    line-height: 1;
    margin-right: 0.1em;
}